.task1 {
    text-align: center;
  }

  .task1 .img-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .task1 img {
    width: 250px;
    height: 300px;
    object-fit: contain;
  }

  .task1 button {
    width: 100px;
    height: 55px;
    background-color: rgb(42, 50, 165);
    color: rgb(255, 255, 255);
  }

  .task2 {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
  }

  .task2 .photo {
    flex: 0 0 250px;
  }
  .task2 img {
    width: 100%;
  }